<ion-tabs #ionTabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button
      tab="participants"
      routerLink="/tabs/participants"
      routerDirection="root"
    >
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Participants</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="expenses"
      routerLink="/tabs/expenses"
      routerDirection="root"
    >
      <ion-icon aria-hidden="true" name="cash"></ion-icon>
      <ion-label>Expenses</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="summary"
      routerLink="/tabs/summary"
      routerDirection="root"
    >
      <ion-icon aria-hidden="true" name="stats-chart"></ion-icon>
      <ion-label>Summary</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="profile"
      routerLink="/tabs/profile"
      routerDirection="root"
    >
      <ion-icon aria-hidden="true" name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
